:root {
    --dark: #010912;
    --light: #d7cfcc;
    --orange: #C04C09;
    --black: #292322;
}

@font-face {
    font-family: pixel;
    src: url("/assets/pixel.ttf");
}

* {
    font-family: pixel;
    font-size: 32px;
    color: var(--light);
    cursor: url(assets/cursor.cur), default;
    user-select: none;
}

::-moz-selection {
    color: var(--dark);
    background: var(--light);
}

::selection {
    color: var(--light);
    background: var(--orange);
}

.through {
    pointer-events: none;
}

html {
    background-color: var(--dark);
    overflow: hidden;
}

#title {
    height: 100vh;
    width: 100vw;
    z-index: 10;
    background-image: url("/assets/logo3.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

#bgcon {
    position: absolute;
    overflow-x: hidden;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}


#fox {
    background-image: url("/assets/fox.png");
    background-repeat: no-repeat;
    height: 256px;
    width: 1024px;
    position: absolute;
    top: 100vh;
    left: 100px;
    z-index: 1;
}

#spark {
    position: absolute;
    background-image: url("/assets/spark.png");
    background-repeat: no-repeat;
    height: 96px;width: 96px;
    width: 384px;
    top: 100vh;
    left: 100px;
    z-index: 3;
}

#sparkSkin {
    background-image: url("/assets/spark.png");
    background-repeat: no-repeat;
    height: 96px;
    width: 384px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 3;
}

#birds {
    width: 256px;
    position: absolute;
    top: 15vh;
    left: calc(-10vw - 256px);
    z-index: 1;
}

#bg {
    background-image: url("/assets/bg.png");
    background-repeat: repeat-x;
    background-position: center;
    height: 100vh;
    width: 200vw;
    position: absolute;
}

.prlx {
    position: absolute;
    height: 75vh;
    z-index: 2;
}

#prlxcon {
    position: absolute;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#uicon {
    position: absolute;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    background-color: var(--dark);
}

#uiimg {
    object-fit: cover;
    height: 75vh;
    width: 100vw;
}

#uitxtcon {
    height: 128px;
    width: 100vw;
    background-color: var(--dark);
}

#uitxt {
    margin: 10px;
    padding: 0 10px;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

button {
    background: var(--black);
    padding: 10px 20px;
    border: var(--light) 4px solid;
    white-space: nowrap;
    max-width: 90vw;
    overflow: hidden;
    text-overflow: ellipsis;
    z-index: 4;
    pointer-events: all;
}

button:hover {
    background-color: var(--orange);
    color: var(--light);
}

button:active {
    background-color: var(--light);
    color: var(--black);
    font-weight: bold;
}

input {
    background-color: var(--light);
    color: var(--black);
    padding: 10px 20px;
    border: var(--light) 4px solid;
    outline: none;
    min-width: 8ch;
    max-width: 34ch;
    z-index: 4;
    pointer-events: all;
}

input:hover,
input:focus {
    border: var(--black) 4px solid;
}

input::placeholder {
    opacity: 0.75;
    color: var(--black);
}

#inputcon {
    position: absolute;
    top: 60vh;
    left: 75vw;
    width: 20vw;
    height: 25vh;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-end;
    flex-direction: column;
}

#btnfs {
    background: none;
    border: none;
    text-overflow: clip;
}

#headercon {
    width: 100vw;
    background-color: var(--dark);
    display: flex;
    justify-content: space-between;
}

#spcon {
    min-width: 50vw;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row-reverse;
}
.sparks {
    width: 72px;
    height: 96px;
    background-image: url("/assets/sparks_empty.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    padding: 0 10px;
}

